/* no styling for the top level - might change later though */
.dashboard {}

.dashboard__buttons-container {
    position: sticky;
    top: 0;
    background-color: white;
}

.dashboard__buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
