.details-page {}

.details-page__name {
    text-align: center;
}

.details-page__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "multimedia description"
        "multimedia comments";
    column-gap: 10%;
    row-gap: 10%;
}

.details-page__video {
    grid-area: multimedia;
}

.details-page__image {
    grid-area: multimedia;
    max-width: 100%;
}

.details-page__description {
    grid-area: description;
    border: 2px solid black;
}

.details-page__comments {
    grid-area: comments;
    border: 2px solid black;
}

.details-page__comment {
    margin-top: 1em;
    margin-bottom: 1em;
}
