.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 10%;
    row-gap: 75px;
    text-align: center;
}

.grid-view__model-name {
    /*text-align: center;*/
    font-size: x-large;
    font-weight: bold;
    margin: 0.5em;
}

.grid-view__card {
    border: 2px solid black;
}

.grid-view__card-image {
    max-width: 90%;
    margin: 5%;
}

.grid-view__card-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid-view__card-link {
    margin: 1em;
}
